.DS_Store
settings.json
authorization.json
/src/utils/__pycache__
/src/geckodriver.log
/src/temp.xls
node_modules
results
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
